<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revolt.primenewsadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewGeneralActivity"></activity>
        <activity android:name=".GeneralFullDetailsActivity" />
        <activity android:name=".AddGeneralFullActivity" />
        <activity android:name=".AddGeneralActivity" />
        <activity android:name=".ViewHospitalsActivity" />
        <activity android:name=".HospitalFullDetailsActivity" />
        <activity android:name=".AddHospitalFullActivity" />
        <activity android:name=".AddHospitalActivity" />
        <activity android:name=".ViewShopsActivity" />
        <activity android:name=".ShopsFullDetailsActivity" />
        <activity android:name=".AddShopsFullActivity" />
        <activity android:name=".AddShopsActivity" />
        <activity android:name=".ViewSevanamActivity" />
        <activity android:name=".SevanamFullActivity" />
        <activity android:name=".AddSevanamFullActivity" />
        <activity android:name=".AddSevanamActivtiy" />
        <activity android:name=".ViewThorilaliActivity" />
        <activity android:name=".ThorilaliFullDetailsActivity" />
        <activity android:name=".AddThorilalifullActivity" />
        <activity android:name=".AddThorilaliActvity" />
        <activity android:name=".AddTaxiFullActivity" />
        <activity android:name=".TaxiFullDetailsActivity" />
        <activity android:name=".ViewTaxiActivity" />
        <activity android:name=".AddTaxiActivity" />
        <activity android:name=".FullOfficeActivity" />
        <activity android:name=".AddNattuActivity" />
        <activity android:name=".ViewNattuActivity" />
        <activity android:name=".AddFeedbackActivity" />
        <activity android:name=".ViewFeedbackActivity" />
        <activity android:name=".ViewLinksActivity" />
        <activity android:name=".AddLinksActivity" />
        <activity android:name=".ViewAboutUsActivity" />
        <activity android:name=".AddAboutusActivity" />
        <activity android:name=".ViewOfficeActivity" />
        <activity android:name=".AddOfficeActivity" />
        <activity android:name=".FullTourismActivity" />
        <activity android:name=".ViewTourismActivity" />
        <activity android:name=".AddTourismActivity" />
        <activity android:name=".FullRestaurantActivity" />
        <activity android:name=".ViewRestaurantActivity" />
        <activity android:name=".AddRestaurantActivity" />
        <activity android:name=".FullTheatreActivity" />
        <activity android:name=".ViewTheatreActivity" />
        <activity android:name=".AddTheatreActivity" />
        <activity android:name=".PoliceActivity" />
        <activity android:name=".FireActivity" />
        <activity android:name=".AmbulanceActivity" />
        <activity
            android:name=".ViewEmergencyActivity"
            android:label="@string/title_activity_view_emergency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddEmergencyActivity" />
        <activity android:name=".ViewMediaActivity" />
        <activity android:name=".AddMediaActivity" />
        <activity android:name=".ViewBloodActivity" />
        <activity android:name=".AddBloodActivity" />
        <activity android:name=".AutoFullDetailsActivity" />
        <activity android:name=".AutoDetailsActivity" />
        <activity android:name=".ViewAutoActivity" />
        <activity android:name=".AddAutoActivity" />
        <activity android:name=".ViewAdvActivity" />
        <activity android:name=".AddAdvActivity" />
        <activity android:name=".BusFullDetailsActivity" />
        <activity android:name=".AddBusDetailsActivity" />
        <activity android:name=".ViewbusStationsActivity" />
        <activity android:name=".AddBusStationsActivity" />
        <activity android:name=".ViewAnnouncementActivity" />
        <activity android:name=".AddAnnouncementActivity" />
        <activity android:name=".FullNewsActivity" />
        <activity android:name=".ViewNewsActivity" />
        <activity
            android:name=".AddNewsActivity"
            android:label="Add News" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.revolt.primenewsadmin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>